---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import HowItWorks from '../components/HowItWorks.astro'
import Platforms from '../components/Platforms.astro'
import QuickStart from '../components/QuickStart.astro'
import IDESupport from '../components/IDESupport.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <QuickStart />
    <HowItWorks />
    <Platforms />
    <IDESupport />
  </main>
  <Footer />
</Layout>
